<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>💖 Final | Captura mi corazón</title>
    <link rel="stylesheet" href="../../css_scss/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
</head>

<body class="final-screen">
    <div class="final-container">
    <h1 class="title">💞 Lo lograste 💞</h1>

    <p id="message" class="dedication"></p>

    <div id="buttonsContainer" class="hidden">
        <button id="yesBtn">💖 Sí</button>
        <button id="noBtn">💔 No</button>
    </div>

    <p id="finalFeedback"></p>
    </div>

    <audio id="finalSong" src="../../assets/media/audio/enamorado.mp3" preload="auto"></audio>

    <script type="module" src="../../js/index.js"></script>
</body>
</html>

