<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nivel 3 💫 | Captura mi corazón</title>
    <link rel="stylesheet" href="../../css_scss/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
</head>

<body class="level3-screen">
    <div class="level3-container">
    <h1>🔐 Nivel 3: La llave de mi corazón</h1>
    <p>Una de estas fotos  abre el candado de mi corazón.  
        ¿Podrás descubrir cuál es la correcta? 💘</p>

    

    <div class="keys-grid">
        <button class="key-option" data-correct="false">
        <img src="../../assets/img/6.jpg" alt="llave 1" />
        </button>
        <button class="key-option" data-correct="true">
        <img src="../../assets/img/4.jpg" alt="llave 2" />
        </button>
        <button class="key-option" data-correct="false">
        <img src="../../assets/img/9.jpg" alt="llave 3" />
        </button>
    </div>

    <p id="feedback"></p>
    <button id="nextLevelBtn" disabled>💖 Siguiente nivel</button>
    </div>

    <script type="module" src="../../js/index.js"></script>
</body>
</html>
